{{ $page := . }}
{{ $lastmod := .Lastmod }}
{{ $git_branch := (default "main" .Site.Params.github_branch) }}
{{ $github_repo := .Site.Params.github_repo }}
{{ $github_subdir := .Site.Params.github_subdir }}

{{ if .GitInfo }}
  {{ $lastmod = .GitInfo.AuthorDate }}
  {{ $git_commit := .GitInfo.Hash }}
  {{ $git_abbrev := .GitInfo.AbbreviatedHash }}
  {{ $git_subject := .GitInfo.Subject }}
  
  {{ $commit_url := printf "%s/commit/%s" $github_repo $git_commit }}
  
  <div class="td-page-meta__lastmod">
    {{ i18n "last_updated" }} {{ $lastmod.Format "2006年1月2日" }}: 
    <a data-proofer-ignore="" href="{{ $commit_url }}">
      {{ $git_subject }} ({{ $git_abbrev }})
    </a>
  </div>
{{ else if .Params.gitinfo }}
  {{ $git_commit := .Params.gitinfo.hash }}
  {{ $git_abbrev := .Params.gitinfo.abbreviated_hash }}
  {{ $git_subject := .Params.gitinfo.subject }}
  {{ $git_date := .Params.gitinfo.author_date }}
  
  {{ $commit_url := printf "%s/commit/%s" $github_repo $git_commit }}
  
  <div class="td-page-meta__lastmod">
    {{ i18n "last_updated" }} {{ $lastmod.Format "2006年1月2日" }}: 
    <a data-proofer-ignore="" href="{{ $commit_url }}">
      {{ $git_subject }} ({{ $git_abbrev }})
    </a>
  </div>
{{ else }}
  <div class="td-page-meta__lastmod">
    {{ i18n "last_updated" }} {{ $lastmod.Format "2006年1月2日" }}
  </div>
{{ end }}
